#myCanvas{
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left:2px;
    margin-right:2px;
}